% -*- mode: erlang; -*- vim: set ft=erlang:
[
{kernel, [
    {logger_level, debug},
    {logger, [
              {handler, default, logger_std_h, #{
                                                 config => #{type => standard_io},
                                                 formatter => {logger_formatter, #{
                                                                                   single_line => false,
                                                                                   template => [msg, "\n"]
                                                                                  }}
                                                }}
    ]}
]}
].
