% -*- mode: erlang; -*- vim: set ft=erlang:
[{elvis, [
    {config, [
        #{ dirs => ["src/**"],
           filter => "*.erl",
           ruleset => erl_files,
           ignore => [b5_ranks, b5_ranks_node, b5_trees_v2_node], % FIXME
           rules => [
                {elvis_style, dont_repeat_yourself, #{
                    ignore => [b5_trees_node, b5_trees_v2_node, b5_sets_node, b5_rsets_node, b5_ranks_node]
                }},
                {elvis_style, god_modules, #{
                    ignore => [b5_trees, b5_trees_v2, b5_ranks]
                }},
                {elvis_style, function_naming_convention, #{
                    ignore => [
                        {b5_trees, '__from_constituent_parts__'},
                        {b5_trees, '__to_constituent_parts__'}
                    ]
                }},
                {elvis_style, max_function_arity, #{
                    ignore => [b5_trees_node, b5_trees_v2_node, b5_ranks_node, b5_rsets_node]
                }},
                {elvis_style, nesting_level, #{
                    ignore => [b5_trees_node, b5_trees_v2_node, b5_ranks_node, b5_rsets_node]
                }},
                {elvis_style, no_if_expression, #{
                    ignore => [b5_trees_node, b5_trees_v2_node, b5_ranks_node, b5_sets_node, b5_rsets_node]
                }}
            ]
        },
        % #{ dirs => ["test/**"],
        %    filter => "*.erl",
        %    ruleset => erl_files },
        #{ dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config },
        #{ dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config }
    ]},
    {verbose, false}
]}].
