% -*- mode: erlang; -*- vim: set ft=erlang:
[{elvis, [
    {config, [
        #{ dirs => ["src/**"],
           filter => "*.erl",
           ruleset => erl_files,
           ignore => [],
           rules => [
                {elvis_style, atom_naming_convention, #{
                    ignore => [
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }},
                {elvis_style, dont_repeat_yourself, #{
                    ignore => [
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }},
                {elvis_style, god_modules, #{
                    ignore => [
                        xb5_items,
                        xb5_sets,
                        xb5_sets_node,
                        xb5_trees
                    ]
                }},
                {elvis_style, function_naming_convention, #{
                    ignore => [
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }},
                {elvis_style, macro_names, #{
                    ignore => [
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }},
                {elvis_style, max_function_arity, #{
                    ignore => [
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }},
                {elvis_style, nesting_level, #{
                    ignore => [
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }},
                {elvis_style, no_if_expression, #{
                    ignore => [
                        xb5_items,
                        xb5_items_node,
                        xb5_sets_node,
                        xb5_trees_node
                    ]
                }}
            ]
        },
        % #{ dirs => ["test/**"],
        %    filter => "*.erl",
        %    ruleset => erl_files },
        #{ dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config },
        #{ dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config }
    ]},
    {verbose, false}
]}].
