% -*- mode: erlang; -*- vim: set ft=erlang:

{prefix_ref_vsn_with_v, false}.
{source_url, <<"https://github.com/g-andrade/xb5">>}.
{extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE.txt">>]}.
{main, <<"readme">>}.
{proglang, erlang}.
{groups_for_modules, [
    {<<"API">>, [
        xb5_bag,
        xb5_sets,
        xb5_trees
    ]},
    {<<"Internal nodes">>, [
        xb5_bag_node,
        xb5_bag_utils,
        xb5_sets_node,
        xb5_trees_node
    ]},
    {<<"Debug">>, [
        xb5_structural_stats
    ]}
]}.
